[core] ; - https://stackoverflow.com/a/26558656/17173324
    compression = 0
    symlink = false
    longpaths = true
    packedGitLimit = 512m
    packedGitWindowSize = 512m
[pack] ; - https://stackoverflow.com/a/29355320/17173324
    windowMemory = 2047m
    packSizeLimit = 2047m
    deltaCacheSize = 2047m
[http]
    proxy =
[https]
    proxy =
