/target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store

### REPORT ###
/out/
/report/*.aux
/report/*.bbl
/report/*.blg
/report/*.lof
/report/*.log
/report/*.lot
/report/*.out
/report/*.pdf
/report/*.synctex.gz
/report/*.toc

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
