version: '3.9'
name: 'gse'

services:

  gse-database:
    image: mysql:8.2.0
    container_name: gse-database
    restart: "always"
    volumes:
      - data:/var/lib/mysql
      - ./mysql.cnf:/etc/mysql/conf.d/mysql.cnf
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: gse
      MYSQL_USER: gseadmin
      MYSQL_PASSWORD: Lugano2020
      TZ: UTC
    healthcheck:
      test: mysqladmin ping -h localhost
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5

  gse-migration:
    image: flyway/flyway:10.0.1-alpine
    container_name: gse-migrations
    restart: "no"
    volumes:
      - ../flyway/sql:/flyway/sql
    environment:
      TZ: UTC
      FLYWAY_USER: gseadmin
      FLYWAY_PASSWORD: Lugano2020
      FLYWAY_URL: jdbc:mysql://gse-database:3306/gse?serverTimezone=UTC&useLegacyDatetimeCode=false&useUnicode=yes&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
      FLYWAY_SCHEMAS: gse
      FLYWAY_DEFAULT_SCHEMA: gse
    command: migrate
    depends_on:
      gse-database:
        condition: service_healthy
    networks:
      - default

  gse-backup:
    image: tiredofit/db-backup:4.0.18
    container_name: gse-backup
    restart: "no"
    volumes:
      - backup:/backup
      - ./logs/backup:/logs
    environment:
      TZ: UTC
      TIMEZONE: Etc/UTC
      DB01_TYPE: mysql
      DB01_HOST: gse-database
      DB01_PORT: 3306
      DB01_NAME: gse
      DB01_USER: gseadmin
      DB01_PASS: Lugano2020
      DEFAULT_BACKUP_BEGIN: "0000"
      DEFAULT_CLEANUP_TIME: "10080"
      DEFAULT_CHECKSUM: SHA1
      DEFAULT_COMPRESSION: GZ
      DEFAULT_CREATE_LATEST_SYMLINK: FALSE
      DEBUG_MODE: TRUE
      CONTAINER_ENABLE_MONITORING: FALSE
    entrypoint: "true"
    depends_on:
      gse-migration:
        condition: service_completed_successfully
    links:
      - gse-database
    networks:
      - default

  gse-website:
    build:
      context: ../
      dockerfile: docker/website/Dockerfile
    image: gse/frontend:latest
    container_name: gse-website
    volumes:
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf
    ports: [ "7030:80" ]
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
    depends_on:
      gse-server:
        condition: service_healthy
    networks:
      - default


  gse-server:
    build:
      context: ../
      dockerfile: docker/server/Dockerfile
    image: gse/backend:latest
    container_name: gse-server
    volumes:
      - ./logs:/logs
      - ./git/.dev.gitconfig:/root/.gitconfig
    environment:
      LOGGING_CONFIG: classpath:logback.prod.xml
      SPRING_DATASOURCE_URL: jdbc:mysql://gse-database:3306/gse?serverTimezone=UTC&useLegacyDatetimeCode=false&useUnicode=yes&characterEncoding=UTF-8
      SPRING_FLYWAY_ENABLED: 'false'
      GHS_CRAWLER_ENABLED: 'false'
      GHS_ANALYSIS_ENABLED: 'false'
      GHS_CLEANUP_ENABLED: 'false'
      GHS_GITHUB_TOKENS:
    ports: [ "48001:8080" ]
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
    healthcheck:
      test: curl --fail --silent localhost:8080/api || exit 1
      start_period: 20s
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      gse-migration:
        condition: service_completed_successfully
    networks:
      - default

volumes:
  data:
    name: gse-data
  backup:
    name: gse-data-backups

networks:
  default:
    name: gse-network
