version: '3.9'
name: 'gse'

services:

  gse-database:
    image: mysql:8.2.0
    container_name: gse-database
    restart: "always"
    volumes:
      - data:/var/lib/mysql
      - ./mysql.cnf:/etc/mysql/conf.d/mysql.cnf
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: gse
      MYSQL_USER: gseadmin
      MYSQL_PASSWORD: Lugano2020
      TZ: UTC
    healthcheck:
      test: mysqladmin ping -h localhost
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5
    labels:
      - "com.centurylinklabs.watchtower.scope=ghs"

  gse-migration:
    image: flyway/flyway:10.4.1-alpine
    container_name: gse-migrations
    restart: "no"
    volumes:
      - ../flyway/sql:/flyway/sql
    environment:
      TZ: UTC
      FLYWAY_USER: gseadmin
      FLYWAY_PASSWORD: Lugano2020
      FLYWAY_URL: jdbc:mysql://gse-database:3306/gse?serverTimezone=UTC&useLegacyDatetimeCode=false&useUnicode=yes&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
      FLYWAY_SCHEMAS: gse
      FLYWAY_DEFAULT_SCHEMA: gse
    command: migrate
    depends_on:
      gse-database:
        condition: service_healthy
    networks:
      - default

  gse-backup:
    image: databack/mysql-backup:latest
    container_name: gse-backup
    restart: "no"
    volumes:
      - backup:/backup
      - ./bkpdb/clean_pre.sh:/scripts.d/pre-backup/00_clean_flyway_history.sh
      - ./bkpdb/clean_post.sh:/scripts.d/post-backup/00_clean_old_dumps.sh
    environment:
      TZ: UTC
      DB_NAMES: gse
      DB_PORT: 3306
      DB_USER: gseadmin
      DB_PASS: Lugano2020
      DB_SERVER: gse-database
      DB_DUMP_CRON: "0 0 * * *"
      DB_DUMP_TARGET: /backup
      DB_DUMP_DEBUG: true
      DB_DUMP_SAFECHARS: true
      MYSQLDUMP_OPTS: >-
        --quick
        --compact
        --events
        --triggers
        --routines
        --single-transaction
        --max-allowed-packet=1G
        --ignore-table=gse.label_ranked
        --ignore-table=gse.topic_ranked
    entrypoint: "true"
    depends_on:
      gse-migration:
        condition: service_completed_successfully
    labels:
      - "com.centurylinklabs.watchtower.scope=ghs"
    networks:
      - default

  gse-server:
    build:
      context: ../
      dockerfile: docker/server/Dockerfile
    image: gse/backend:latest
    container_name: gse-server
    volumes:
      - ./logs:/logs
      - ./git/.dev.gitconfig:/root/.gitconfig
    environment:
      LOGGING_CONFIG: classpath:logback.prod.xml
      SPRING_DATASOURCE_URL: jdbc:mysql://gse-database:3306/gse?serverTimezone=UTC&useLegacyDatetimeCode=false&useUnicode=yes&characterEncoding=UTF-8
      SPRING_FLYWAY_ENABLED: 'false'
      GHS_CRAWLER_ENABLED: 'false'
      GHS_ANALYSIS_ENABLED: 'false'
      GHS_CLEANUP_ENABLED: 'false'
      GHS_GITHUB_TOKENS:
    ports: [ "48001:8080" ]
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
    healthcheck:
      test: curl --fail --silent localhost:8080/api || exit 1
      start_period: 20s
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      gse-migration:
        condition: service_completed_successfully
    labels:
      - "com.centurylinklabs.watchtower.scope=ghs"
    networks:
      - default

  gse-website:
    build:
      context: ../
      dockerfile: docker/website/Dockerfile
    image: gse/frontend:latest
    container_name: gse-website
    volumes:
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf
    ports: [ "7030:80" ]
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
    depends_on:
      gse-server:
        condition: service_healthy
    labels:
      - "com.centurylinklabs.watchtower.scope=ghs"
    networks:
      - default

  gse-watchtower:
    image: tianon/true:latest
    container_name: gse-watchtower
    restart: "no"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_SCOPE: 'ghs'
      WATCHTOWER_TIMEOUT: '60s'
      WATCHTOWER_SCHEDULE: '0 0 */6 * * *'
      WATCHTOWER_LOG_LEVEL: 'debug'
      WATCHTOWER_INCLUDE_STOPPED: true
    depends_on:
      gse-website:
        condition: service_started
    labels:
      - "com.centurylinklabs.watchtower.scope=ghs"
    networks:
      - default

volumes:
  data:
    name: gse-data
  backup:
    name: gse-data-backups

networks:
  default:
    name: gse-network
