[mysqld]
event-scheduler=on
default-time-zone="+00:00"
group-concat-max-len=10000
log-bin-trust-function-creators=on
general-log=on
general-log-file=/var/log/mysql/mysql.log
log-error=/var/log/mysql/mysql_error.log
slow-query-log=on
slow-query-log-file=/var/log/mysql/mysql_slow.log
long-query-time=3
log-queries-not-using-indexes=on

[mysqldump]
quick
events
triggers
routines
single-transaction
max-allowed-packet=1G
