/* ELEMENTS */

html,body {
    height: 100%;
}

h1,h2,h3,h4,h5,a,p,blockquote,pre,button,input,label,span {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-style: normal;
    font-variant: normal;
    margin: 0;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
}

a {
    font-size: 14px;
    text-decoration: underline;
    color: #808080;
}

a:hover {
    color: #303000;
    cursor: pointer;
}

a,p {
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}

input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: black;
}

input:invalid,
input:focus:invalid {
    color: #721c24;
    background-color: #f8d7da;
}

/* IDS */

#sticky-footer {
    flex-shrink: 0;
    background-color: grey;
}

#page-content {
    flex: 1 0 auto;
    /*background-image: url("../public/img/logo-bg.png");*/
    background-size: 200px;
    background-position: bottom right;
    background-repeat: no-repeat;
}

/* CLASSES */

.b-2 {
    border-width:2px !important;
}

.back-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: none;
}

.col-1-5 {
    flex: 0 0 10%;
    max-width: 10%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.bg-dgray {
    background-color: #303000;
}

.bg-lgray {
    background-color: #E6E6E6;
}

.bg-llgray {
    background-color: #F2F2F2;
}

.bg-llgray-transparent {
    background-color: #F2F2F2EE;
}

.btn {
    text-align: left;
}

a.btn {
    text-decoration: none;
}

.btn:active,
.btn:focus,
.btn:focus:active {
    box-shadow: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
}

.container input {
    position: absolute;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 3.5px;
    margin-bottom: auto;
    height: 15px;
    width: 15px;
    border: 1px solid #6c757d;
    border-radius: 3px;
    background-color: #E6E6E6;
}

.container:hover input ~ .checkmark {
    border-color: #343a40;
}

.container input:checked ~ .checkmark {
    background-color: #6c757d;
}

.container:hover input:checked ~ .checkmark {
    background-color: #343a40;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 4px;
    top: 0;
    width: 5px;
    height: 11px;
    border: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
}

a.dropdown-item {
    text-decoration: none;
}

.dropdown-menu {
    max-height: 210px;
    overflow-y: auto;
}

.fa-home {
    font-size: 1.3em;
}

.form-check label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}

.form-check input {
    vertical-align: middle;
}

.form-check label span {
    vertical-align: middle;
}

.icon-red {
    color: #721c24;
}

.icon-green {
    color: #165724;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    height: 50%;
    padding: 8px 9px;
    position: relative;
}

.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.input-secondary:hover:not(:focus) {
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.input-secondary::-webkit-input-placeholder {
    color: #6D757D;
}

.input-secondary:hover::-webkit-input-placeholder {
    color: white;
}

.input-secondary:hover:focus::-webkit-input-placeholder {
    color: #6D757D;
}

.list-inner {
    list-style-type: lower-alpha;
}

.list-inner-inner {
    list-style-type: lower-roman;
}

.modal-content  {
    border-radius: 0 !important;
}

.modal-dialog {
    overflow-y: initial !important
}
.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.navbar {
    min-height:100px !important
}

h1.navbar-brand {
    margin: 0;
    font-weight: bold;
    font-size: 80px;
    line-height: normal;
}

h3.navbar-brand {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    color: grey;
    text-decoration: underline;
}

.nav-item:hover {
    color: #303000;
}

.rowlabel {
    font-size: 20px;
    font-weight: bold;
}

.rowsublabel {
    font-size: 18px;
}

.text-gray {
    color: grey;
}

.text-lgray {
    color: #B3B3B3;
}

ul.typeahead {
    width: inherit;
    border-radius: 0;
}

.pr-4-5 {
    padding-right: 36px !important;
}

.w-15 {
    width: 15% !important;
}

.w-60 {
    width: 60% !important;
}
