@font-face {
  font-family: 'languages';
  src:  url('fonts/languages.eot?liuyno');
  src:  url('fonts/languages.eot?liuyno#iefix') format('embedded-opentype'),
    url('fonts/languages.ttf?liuyno') format('truetype'),
    url('fonts/languages.woff?liuyno') format('woff'),
    url('fonts/languages.svg?liuyno#languages') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lang-"], [class*=" lang-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'languages' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lang-elixir:before {
  content: "\e921";
}
.lang-groovy:before {
  content: "\e922";
}
.lang-nix:before {
  content: "\e923";
}
.lang-rust:before {
  content: "\e924";
}
.lang-dart:before {
  content: "\e925";
}
.lang-smalltalk:before {
  content: "\e912";
}
.lang-shell:before {
  content: "\e913";
}
.lang-objective-c:before {
  content: "\e914";
}
.lang-csharp:before {
  content: "\e915";
}
.lang-go:before {
  content: "\e916";
}
.lang-php:before {
  content: "\e917";
}
.lang-ruby:before {
  content: "\e918";
}
.lang-swift:before {
  content: "\e919";
}
.lang-c:before {
  content: "\e91a";
}
.lang-cpp:before {
  content: "\e91b";
}
.lang-java:before {
  content: "\e91c";
}
.lang-javascript:before {
  content: "\e91d";
}
.lang-kotlin:before {
  content: "\e91e";
}
.lang-python:before {
  content: "\e91f";
}
.lang-typescript:before {
  content: "\e920";
}
