name: 'Check Java files with CheckStyle'
on:
  pull_request:
    paths:
      - '**/*.java'

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v3
      - name: Run CheckStyle
        uses: nikitasavinov/checkstyle-action@master
        with:
          level: error
          fail_on_error: true
          workdir: './src/main/java'
          checkstyle_config: './checkstyle.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
