name: "Check JavaScript files with ESLint"
on:
  pull_request:
    paths:
      - "**/*.js"

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: "package-lock.json"
      - name: Install Dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run lint:js
