name: "Check HTML files with HTMLHint"
on:
  pull_request:
    paths:
      - "**/*.html"

jobs:
  htmlhint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: "package-lock.json"
      - name: Install Dependencies
        run: npm ci
      - name: Run HTMLHint
        run: npm run lint:html
