name: 'Check HTML files with HTMLHint'
on:
  pull_request:
    paths:
      - '**/*.html'

jobs:
  htmlhint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: '**/.github/workflows/*.yml'
      - name: Install Dependencies
        run: npm i -g htmlhint
      - name: Run HTMLHint
        run: htmlhint html/*.html
