name: "Check Markdown files with markdownlint"
on:
  pull_request:
    paths:
      - "**/*.md"

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: "package-lock.json"
      - name: Install Dependencies
        run: npm ci
      - name: Run markdownlint
        run: npm run lint:md
