name: "Create new release"
on:
  push:
    tags: ["v*"]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4
      - id: tag-current
        name: Name current release
        uses: actions/github-script@v8
        with:
          result-encoding: string
          script: return context.ref.substring(10)
      - id: tag-previous
        name: Get previous release
        uses: actions/github-script@v8
        with:
          result-encoding: string
          retries: 5
          script: |
            const name = `${context.repo.owner}/${context.repo.repo}`
            const url = `${context.apiUrl}/repos/${name}/releases?per_page=1`
            const { data: [ latest ] } = await github.request(url)
            return latest.tag_name
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          body: "**Full Changelog**: https://github.com/${{ github.repository }}/compare/${{ steps.tag-previous.outputs.result }}...${{ steps.tag-current.outputs.result }}"
