name: 'Close stale issues'
on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Close stale issues
        uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-label: 'stale'
          exempt-issue-labels: 'bug'
          days-before-issue-stale: 30
          days-before-issue-close: 14
          days-before-pr-stale: -1
          days-before-pr-close: -1
          stale-issue-message: 'This issue is stale because it has been open for 30 days with no activity.'
          close-issue-message: 'This issue was closed because it has been inactive for 14 days since being marked as stale.'
